<template>
   <div>
       <p><small>Quantity</small></p>
       <div class="input-group mb-3 col-4">
           <div class="input-group-prepend">
               <span class="input-group-text" @click="decrement()">-</span>
           </div>
           <input type="text" class="form-control" v-model="quantity">
           <div class="input-group-append">
               <span class="input-group-text" @click="increment()">+</span>
           </div>
       </div>
       <span v-if="item.balance < 1" class="text-danger">Out of stock</span>
       <span v-else v-text="item.balance + ' kgs left'"></span>
   </div>
</template>

<script>
    export default {
        name: 'Quantity',
        props: ['item'],
        data(){
          return {
              quantity: this.item.quantity,
              message: '',
              submitted: false,
          }
        },
        methods: {
            increment() {
                this.quantity >= this.item.balance ? ' ' : this.quantity++;
                this.$emit('updated', this.quantity)
            },
            decrement() {
                this.quantity < 1 ? ' ' : this.quantity--;
                this.$emit('updated', this.quantity)
            },
            cart(item) {
                if (this.quantity < 1) {
                    this.message = 'You cannot have less than 0 items.'
                } else if (this.quantity > this.shop.balance) {
                    this.message = `We only have ${this.shop.balance} kgs on stock.`
                } else {
                    axios.post('/carts', {
                        item: item,
                        quantity: this.quantity,
                        price: this.shop.price
                    })
                    this.submitted = true
                    setTimeout(() => {
                        this.submitted = false;
                    }, 5000);
                }
            },
        },

    }
</script>
