<template>
    <div>
        <button
            class="btn btn-sm btn-info js-tooltip-enabled"
            title="delete"
            type="button"
            @click="confirm()"
        >
            <i class="fas fa-trash"></i>
        </button>

        <div class="modal" tabindex="-1" role="dialog" id="delete-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete {{ item.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete {{ item.name }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="deleteItem()">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'DeleteButton',
        props: ['item'],
        methods: {
            confirm() {
                console.log(this.item.name)
                $('#delete-modal').modal('show');
            },
            deleteItem() {
                $('#delete-modal').modal('hide')
                axios.delete(this.item.path)
                    .then(() => {
                        flash(this.item.name + ' has been successfully deleted.')

                        setTimeout(() => {
                            window.location.href = this.item.redirect
                        }, 2000);

                    })
            }
        }
    }
</script>
