<template>

  <div class="card my-4">
    <div class="card-header font-weight-bolder">
      <h3 class="text-center font-accent text-color-accent mt-4">My Notifications</h3>
    </div>
    <div v-if="results.length">
        <div class="col-12 mt-2">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   v-model="searchKeyword" placeholder="Search here"
            >
          </div>
        </div>
        <div class="col-12 my-3" v-for="result in filteredList">
            <notification-item :notification="result" @show="showNotification(result)"></notification-item>
        </div>
        <span v-if="filteredList < 1">
             <p class="text-color-gray-dark text-center">No matches found.</p>
          </span>
    </div>
    <div class="text-center p-4" v-else>
      <p class="text-secondary">You have no notifications yet.</p>
    </div>
  </div>
</template>

<script>
import NotificationItem from "./NotificationItem";
import store from "../store";

export default {
  name: 'NotificationList',
  props: ['notifications'],
  data() {
    return {
      results: this.notifications,
      searchKeyword: '',
      notificationClicked: null,
    }
  },
  components: { NotificationItem },
  computed: {
    filteredList() {
      return this.results.filter(item => {
        return item.data.message.toLowerCase().includes(this.searchKeyword.toLowerCase())
      })
    }
  },
  methods: {
    showNotification(notification) {
      this.notificationClicked = notification
      $('.action-bar').addClass('d-none')
      this.markAsRead(notification)
    },
    returnToList() {
      this.notificationClicked = null
      $('.action-bar').removeClass('d-none')
      store.dispatch('getNotifications')
    },
    markAsRead(notification) {
      notification.read_at = ''
      axios.delete('/user-notifications/' + notification.id)
    },
  }
}
</script>
