<template>
  <div class="notification-container pb-3" @click="show" style="cursor: pointer" :id="notification.id">
    <div class="row emails">
      <div class="col-2 text-primary text-center">
        <i :class="notification.data.icon" class="fa-2x"></i>
      </div>
      <div class="col-9 pr-3 pl-0">
        <span class="notification-title" :class="notification.read_at === null  ? 'font-weight-bold' : null ">
          {{ notification.data.message }}
        </span>
        <p class="notification-body mb-1">
            <small class="notification-date">{{ created_at }}</small>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment'

  export default {
    name: 'NotificationItem',
    props: {
      notification: Object,
    },
    computed: {
      created_at: function () {
        return moment(this.notification.created_at).format('MMM DD, YYYY hh:mm') //TODO format not sure
      }
    },
    methods: {
      show () {
        this.$emit('show')
      }
    }
  }
</script>
