<template>
    <span>
        <li class="nav-item dropdown">
           <span>
              <a id="navbarDropdown" class="nav-link text-white" role="button"
                 data-toggle="dropdown">
                <i class="fa fa-bell text-white d-none d-lg-inline-block" aria-hidden="true"></i>
                <span class="d-lg-none">Notifications</span>
               <span
                 class="badge bg-color-accent"
                 v-if="results.length">
                   {{ this.$store.state.userNotificationsCount }}
               </span>
              </a>

              <ul class="dropdown-menu  custom-dropdown">
                  <li v-for="notification in notifications">
                      <a
                        class="dropdown-item"
                        @click.prevent="markAsRead(notification)">
                       {{ notification.data.message | truncate }}
                      </a>
                  </li>
                  <hr>
                  <li v-if="results.length">
                    <a class="dropdown-item"
                       href="/get-notifications">
                      View all
                    </a>
                  </li>
                  <li v-else>
                      No new notifications.
                  </li>
              </ul>
            </span>
        </li>
    </span>
</template>

<script>
export default {
  data() {
    return {
      results: false,
      notifications: [],
    }
  },
  created() {
    axios.get("/user-unread-notifications")
      .then((response) => {
        this.results = response.data
        this.results.forEach(e => {
          if (this.notifications.length < 5) {
            this.notifications.push(e)
          }
        })
      })
  },
  filters: {
    truncate: function (value) {
      if (!value) return ''
      return value.slice(0, 25) + '...'
    }
  },
  methods: {
    markAsRead(notification) {
      axios.delete("/user-notifications/" + notification.id).then(() => {
        window.location.href = `/get-notifications#${notification.id}`
      })
    },
  }
}
</script>

<style scoped>
@media (min-width: 992px) {
  .dropdown-menu {
    transform: translateX(-50%);
  }
}
</style>

