<template>
    <div>
        <div class="text-color-gray-dark">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" @click="decrement()">-</span>
                </div>
                <input type="text" class="form-control" v-model="quantity" @input="input()" disabled style="width: 50px; background: white;">
                <div class="input-group-append">
                    <span class="input-group-text" @click="increment()">+</span>
                </div>
            </div>
            <p><small>Quantity: {{ item.balance }} kgs left</small></p>
            <span v-if="item.balance < 1" class="text-danger">Out of stock</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Quantity',
        props: ['item'],
        data() {
            return {
                quantity: this.item.quantity,
                message: '',
                submitted: false,
            }
        },
        methods: {
            increment() {
                this.quantity >= this.item.balance ? ' ' : this.quantity++;
                this.change()
            },
            decrement() {
                this.quantity <= 0 ? ' ' : this.quantity--;
                this.change()
            },
            input() {
                if (this.quantity > this.item.balance) {
                    this.$emit('over', this.quantity)
                } else {
                    this.change()
                }
            },
            change() {
                this.$emit('change', this.quantity)
            },
        },
    }
</script>
