<template>
  <div class="notification-container pb-3" @click="show">
    <div class="row emails">
      <div class="col-2 text-primary text-center">
        <i class="fas fa-comments fa-2x mr-2"></i>
      </div>
      <div class="col-8 pr-3 pl-0 ml-4">
        <span class="notification-title">
          {{ review.review }}
        </span>
        <p class="notification-body mb-1">
          <small class="notification-date">{{ review.created_at | time }}</small>
        </p>

      </div>
    </div>
  </div>
</template>
<script>
import filterMixins from "../../../backend/js/pages/Mixins/filters";

export default {
  name: 'ReviewItem',

  props: {
    review: Object,
  },

  mixins: [filterMixins],

  methods: {
    show() {
      this.$emit('show')
    }
  }
}
</script>

<style scoped>
  .notification-container {
    cursor: pointer;
  }
</style>
