<template>
  <div class="card my-4">
    <div class="card-header font-weight-bolder">
      <h3 class="text-center font-accent text-color-accent mt-4">My Reviews</h3>
    </div>
    <div v-if="results.length">
      <div>

        <div class="col-12 mt-2">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   v-model="searchKeyword" placeholder="Search here"
            >
          </div>
        </div>
        <div class="col-12 my-3" v-for="result in filteredList">
          <reviews-item :review="result" @show="showReview(result)"></reviews-item>
        </div>
        <span v-if="filteredList < 1">
             <p class="text-color-gray-dark text-center">No matches found.</p>
          </span>
      </div>
    </div>
    <div class="text-center p-4" v-else>
      <p class="text-secondary">You have no reviews yet.</p>
    </div>
  </div>
</template>

<script>
import ReviewsItem from "./ReviewsItem";

export default {
  name: 'ReviewsList',
  props: ['reviews'],
  data() {
    return {
      results: this.reviews,
      searchKeyword: '',
      reviewClicked: null,
    }
  },
  components: { ReviewsItem },
  computed: {
    filteredList() {
      return this.results.filter(item => {
        if (item.review) {
          return item.review.toLowerCase().includes(this.searchKeyword.toLowerCase())
        }
      })
    }
  },
  methods: {
    showReview(review) {
      this.reviewClicked = review
      $('.action-bar').addClass('d-none')
      axios.get(`api/products/${review.product_id}`)
      .then(({data}) => {
        window.location.href = `/item/${data}#rate-${review.id}`
      })

    },
    returnToList() {
      this.reviewClicked = null
      $('.action-bar').removeClass('d-none')
    },
  }
}
</script>
