<template>
     <span class="badge bg-color-accent" v-if="$store.state.cartCount > 0">
        {{ this.$store.state.cartCount }}
     </span>
</template>

<script>
  export default {
    name: 'UserCartCount',
  }
</script>
