.custom-login-container {
    background: url('https://images.pexels.com/photos/1660030/pexels-photo-1660030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center no-repeat;
    background-size: cover;
    min-height: calc(100vh - 100px);
    font-family: "ABeeZee", sans-serif;
}

.custom-login-form-container {
    margin-top: 150px;
    margin-right: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.custom-register-form-container {
    margin-top: 100px;
    margin-right: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.custom-form-control {
    border: none;
}

@media (max-width : 767px) {
    .custom-login-form-container {
        margin-top: 20px;
        margin-right: 0;
        background: rgba( 255, 255, 255, .8);
    }

    .custom-register-form-container {
        margin-top: 20px;
        margin-right: 0;
        background: rgba( 255, 255, 255, .8);
    }
}
