.custom-navbar-menu {
    width: 100%;

    & ul {
        display: flex;
        align-content: center;
        justify-content: center;
        background: white;
        border-bottom: 1px solid #eee;

        & li {
            list-style-type: none;
            min-width: 60px;
            max-width: 120px;
            height: 50px;
            padding: 10px;
            text-align: center;
            transition: 0.5s;
            font-size: 12px;

            & .active {
                background: #52a91c;
                color: white;
            }
        }
    }
}

