/*navbar menu*/

.navbar-menu {
    width: 100%;
    background: white;
}

.navbar-menu ul {
    display: flex;
    align-content: center;
    justify-content: center;
    background: white;
    border-bottom: 1px solid #eee;
}

.navbar-menu ul li {
    font-family: var(--headers);
    list-style-type: none;
    width: 120px;
    height: 50px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.navbar-menu ul li a {
    color: black;
    text-decoration: none;
}

.navbar-menu ul li:hover {
    background: var(--bg-green);
    color: white;
    transition: .5s;
}

.navbar-menu ul li:hover {
    color: white;
    background: #52a91c;
}

.widget {
    border-radius: 5px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.carousel-indicators li {
    background-color: #52a91c !important;
}
