@use "../components/colors";

.organic-title {
    margin: 15px 0;
    font-size: 2em;
    color: colors.$off-white;
    text-shadow: 0.5px 0.5px colors.$accent;
    transition: 500ms;
}

@media (max-width: 991px) {
    .dropdown-menu.custom-dropdown {
        border: none;
        background: transparent;
        color: white;
        transform: unset;

        .dropdown-item {
            background: transparent;
            color: white;
        }
    }
}

.navbar-toggler {
    outline: none !important;

}
