<template>
  <div class="container">
    <h1 class="text-center font-accent text-color-accent mt-4">My Cart</h1>
    <div v-if="cart.length" class="row">
      <div class="col-12">
        <div class="cart-item my-2" v-for="item in cart">
          <cart-item :item="item" @changeTotal="getTotal()"></cart-item>
        </div>
      </div>

      <div class="col-12">
        <div class="my-2 p-4 text-right d-flex justify-content-center">
          <button :disabled="isLoading"
                  class="font-weight-bolder custom-button  text-center border-0 add-to-cart text-white br-3 py-2 px-4 mr-4"
                  @click="disable()">
            Checkout
          </button>

          <p><strong>Total: ₱ {{ total | number }}</strong></p>

        </div>
      </div>

    </div>
    <div class="text-center my-4" v-else>
      <div class="cart-item my-2 py-4">
        <p>You have no items in your cart yet.</p>
        <p>
          <a href="/shops" class="custom-nav-link">Start shopping now</a>
        </p>
      </div>
    </div>
    <div v-if="isLoading">
      <loading></loading>
    </div>
  </div>
</template>
<script>
  import CartItem from "./CartItem"
  import Loading from "../../../backend/js/components/Loading";
  import filters from "../../../backend/js/pages/Mixins/filters";

  export default {
    name: 'Cart',

    data() {
      return {
        cart: [],
        quantity: 0,
        submitting: false,
        isLoading: false,
        orders: [],
        total: 0,
      }
    },

    components: { CartItem , Loading },

    mixins: [ filters ],

    mounted() {
      this.getTotal()
    },

    methods: {
      getTotal() {
        axios.get('/api/carts')
          .then(({data}) => {
            this.cart = data.data

            this.total = this.cart.reduce(function (a, c) {
              return a + Number((c.price * c.quantity).toFixed(2) || 0)
            }, 0)
          })
      },
      disable () {
        this.submitting = true
        this.isLoading = true
        setTimeout(() => {
          this.checkout()
        }, 2000);
      },
      checkout() {
        this.cart.forEach(e => {
          this.orders.push({
            item: e.product.id,
            price: e.price,
            quantity: e.quantity,
          })
        })

        axios.post('/web/sales-orders', {
          'orders': this.orders,
          'total': this.total,
        }).then(() => {
          flash(`You have successfully checked out.`)
          this.submitting = false
          this.isLoading = false
          setTimeout(() => {
            window.location.reload()
          }, 2000);
        })
      },
    },
  }
</script>

<style scoped>
.cart-item {
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
</style>
