<template>
  <div class="row border-0 text-center pt-4">

    <div class="col-12 col-md-3">
      <p><strong v-text="item.product.name"></strong></p>
    </div>

    <div class="col-12 col-md-2">
      <a :href="'/item/' + item.product.slug">
        <img :src="item.image" :alt="item.product.name" class="w-50">
      </a>
    </div>

    <div class="col-12 col-md-3 d-flex justify-content-center">
      <div v-if="item.balance > 0" >
        <quantity
          :item="item"
          @change="change"
          @over="over"
        ></quantity>
        <small class="text-danger">{{ message }}</small>
      </div>

      <div v-else>
        <h2 class="text-danger">Out of stock</h2>
      </div>
    </div>

    <div class="col-12 col-md-2">
      <p>{{ quantity }} kgs x {{ item.price | currency }}</p>
    </div>

    <div class="col-12 col-md-2">
      <p><strong>Total: {{ total | currency }}</strong></p>
    </div>

  </div>

</template>

<script>
import Quantity from "../components/Quantity";
import filters from "../../../backend/js/pages/Mixins/filters";

export default {
  props: ['item'],
  data() {
    return {
      quantity: this.item.quantity,
      message: '',
    }
  },
  components: { Quantity },
  mixins: [ filters ],
  methods: {
    change(value) {
      this.quantity = value
      axios.put('/shop', {
        item: this.item.product.id,
        quantity: value,
        price: this.item.price
      }).then(() => {
        this.$emit('changeTotal')
        this.message = ''
      })
    },
    over(quantity) {
      this.message = `We only have ${this.item.balance} kgs on stock.`
      this.change(quantity);
    }
  },
  computed: {
    total: function () {
      return this.quantity * this.item.price
    }
  },
}
</script>
