<template>
  <div class="col-12">
    <div class="col-lg-6 d-flex justify-content-between mr-auto align-items-sm-start flex-wrap">

      <div v-if="!isEditing" class="col-12 col-sm-6">
        <vue-star-rating
          :rating="rating"
          :show-rating="false"
          :star-size="15"
          :read-only="true"
          :increment=".5"
        ></vue-star-rating>
        <p class="font-regular" v-if="review"><small><i class="fas fa-quote-left text-secondary"></i> {{review}} <i class="fas fa-quote-right text-secondary"></i></small></p>
        <p v-else></p>

        <small><i class="fas fa-user-edit text-secondary mr-2"></i>{{ user }}, {{ rate.created_at | time }}</small>
      </div>

      <div v-else class="col-12 col-sm-6">
        <div class="col-md-12">
          <div class="form-group">
            <vue-star-rating
              :rating="rating"
              :show-rating="false"
              :increment=".5"
              :star-size="15"
              @current-rating="set"
            ></vue-star-rating>
          <textarea style="height:100px;"
                    class="form-control"
                    v-model="review"
          cols="50">
          </textarea>
          </div>
        </div>
      </div>

      <div class="btn-group text-center col-6 col-sm-3 mt-4 mt-md-0" v-if="!isEditing">
          <button @click.prevent="isEditing = true"
             class="btn btn-sm btn-secondary">
            Edit
          </button>
        <delete-button :id="rate.id"
                       :name="`Rating for ${item.name}`"
                       :path="`/rating/${rate.id}`"
                       :redirect-url="`/item/${item.slug}`"
        ></delete-button>
      </div>

      <div class="btn-group text-center col-6 col-sm-3 mt-4 mt-md-0" v-else>
         <button @click.prevent="cancel()"
            class="btn btn-sm btn-secondary">
           Cancel
         </button>
        <button
          class="btn btn-sm btn-secondary"
          type="button"
          @click="save()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import filters from "../../../backend/js/pages/Mixins/filters";

  export default {
    name: 'EditRating',
    props: ['rate', 'user', 'item'],
    data() {
      return {
        isEditing: false,
        review: this.rate.review,
        rating: this.rate.rating,
      }
    },
    mixins: [ filters ],
    methods: {
      set(rating) {
        this.rating = rating
      },
      save() {
        axios.post('/rating', {
          'product_id': this.item.id,
          'review': this.review,
          'rating': this.rating,
        }).then(() => {
          this.isEditing = false
        })
      },
      cancel () {
        this.rating = this.rate.rating;
        this.review = this.rate.review;
        this.isEditing = false
      }
    },
  }
</script>
