<template>
  <div class="container-fluid">
    <div class="m-4">
      <div class="row">
        <div class="col-md-4">
          <img :src="item.image" :alt="item.name" class="w-100">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-text font-weight-bolder font-regular">{{ item.name | capitalize }}</h4>
            <small  class="card-text text-color-gray-dark" v-text="`${item.description}`"></small>
            <br>
            <small class="card-text text-color-gray-dark">{{ item.category.name | capitalize }} |</small>
            <small class="card-text text-color-gray-dark" v-text="item.costing.quantity > 0 ? `₱ ${item.costing.price} |` : ''"></small>
            <small class="card-text text-color-gray-dark" v-text="item.costing.quantity > 0 ? `${item.costing.quantity} kgs in stock` : 'Currently out of stock'"></small>
            <br>
            <div class="d-flex">
              <small class="card-text mr-2">
                <vue-star-rating
                  :rating="score"
                  :show-rating="false"
                  :star-size="15"
                  :read-only="true"
                  :increment=".1"
                ></vue-star-rating>
              </small>
              <small v-if="reviewCount > 0"><a href="#" @click="scrollToReviews()">{{ `${reviewCount} Reviews` }}</a></small>
              <small v-else>No reviews yet</small>
            </div>
            <br>
            <div>

              <button :disabled="isAddedToCart"
                      class="custom-button"
                      @click="cart()"
                      v-if="item.costing.quantity > 0"
                      v-text="isAddedToCart ? 'Added to cart' : 'Add to cart'">
              </button>

              <button class="custom-button"
                      v-else
                      v-text="isAddedToWishlist ? 'Remove from Wishlist' : 'Add to Wishlist'"
                      @click="isAddedToWishlist ? removeFromWishlist() : addToWishlist()">
              </button>
            </div>

            <p class="card-text pt-4 text-color-gray-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
              deserunt dolores illo
              inventore maiores perferendis voluptatum! Autem deleniti exercitationem illum incidunt,
              ipsum maiores molestiae nam natus, sint velit veniam voluptate?</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import VueStarRating from 'vue-star-rating'
  import filters from "../../../backend/js/pages/Mixins/filters";

  export default {
    name: 'Item',
    props: ['item', 'score', 'reviewCount', 'addedToWishlist', 'addedToCart', 'auth'],
    data() {
      return {
        isAddedToWishlist: this.addedToWishlist,
        isAddedToCart: this.addedToCart
      }
    },
    components: {VueStarRating},
    mixins: [ filters ],
    methods: {
      cart() {
        if (this.isAddedToCart) {
          return
        }

        if (! this.auth) {
          window.location.href = '/login'
        }

        axios.put('/carts', {
          item: this.item.id,
          price: this.item.costing.price,
        }).then(() => {
          this.$store.dispatch('getCartCount')
          this.isAddedToCart = true
        })
      },
      scrollToReviews() {
        $('html, body').animate({
          scrollTop: $('#reviews').offset().top
        }, 1000)
      },
      addToWishlist() {
        if (! this.auth) {
          window.location.href = '/login'
        }
        axios.put('/wishlist', {
          product_id: this.item.id,
        }).then(() => {
          this.isAddedToWishlist = true
        })
      },
      removeFromWishlist() {
        axios.delete(`/wishlist/${this.item.id}`)
          .then(() => {
          }).catch(() => {
          this.isAddedToWishlist = false
        })
      }
    }
  }
</script>


<style scoped>
:disabled {
  background: #52a91cc9;
}
</style>
