<template>
  <div class="container-fluid">
    <h1 class="text-center text-gray-dark font-accent text-color-accent mt-4">My Orders</h1>
    <div v-if="orders.length" class="row">
      <div class="accordion col-12" id="accordionExample">
        <div class="my-2 col-12 mx-auto" v-for="order in orders">
          <div class="card-header d-flex justify-content-between bg-color-gray" id="headingOne">
           <div>
             <h5 class="mb-0">
               <button class="btn" type="button" data-toggle="collapse"
                       :data-target="`#order-${order.id}`" aria-expanded="true" aria-controls="collapseOne">
                 Order Number {{ order.id }}
               </button>
             </h5>
             <small class="text-center">{{ order.created_at | time }}</small>
           </div>
            <div class="text-center">
              <strong>Total: {{ order.total | currency }}</strong>
            </div>
          </div>

          <div :id="`order-${order.id}`" class="collapse" aria-labelledby="headingOne"
               data-parent="#accordionExample">
            <div class="card-body">
              <table class="table table-vcenter text-center">
                <thead>
                <tr>
                  <th class="">Item</th>
                  <th class="d-none d-sm-table-cell">Quantity</th>
                  <th class="d-none d-sm-table-cell">Unit Price</th>
                  <th class="">Amount</th>
                </tr>

                </thead>
                <tbody>
                <tr v-for="item in order.orders">
                  <td v-for="product in products" v-if="product.id === item.item">
                    {{ product.name }}
                    <span class="d-block d-sm-none"><small>{{ item.quantity + 'kgs x ₱' + item.price }}</small></span>
                  </td>
                  <td v-text="item.quantity + ' kg/s'" class="d-none d-sm-table-cell"></td>
                  <td class="d-none d-sm-table-cell">{{ item.price | currency }}</td>
                  <td>{{ item.price * item.quantity | currency }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center my-4" v-else>
      <div class="cart-item my-2 py-4">
        <p>You have no orders yet.</p>
        <p>
          <a href="/shops" class="custom-nav-link">Start shopping now</a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>

import filters from "../../../backend/js/pages/Mixins/filters";

export default {
  name: 'Orders',
  data() {
    return {
      orders: [],
      products: [],
    }
  },
  mixins: [ filters ],
  mounted() {
    axios.get('/api/orders')
      .then(({data}) => {
        this.orders = data.data
      })

    axios.get('/api/products')
      .then(({data}) => {
        this.products = data.data
      })
  },
}
</script>

<style scoped>
.cart-item {
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
</style>
