<template>
  <div>
    <div class="col-lg-2">
      <vue-star-rating
        :show-rating="false"
        :increment=".5"
        :star-size="20"
        @current-rating="save"
      ></vue-star-rating>
    </div>
    <div v-if="isReviewVisible">
        <div class="col-md-6">
          <div class="form-group">
          <textarea style="height:100px;"
                    class="form-control"
                    v-model="review"
                    :placeholder="`What can you say about the ${item.name} that you ordered?`">
          </textarea>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary" @click="saveReview()">Save</button>
        </div>
    </div>
  </div>
</template>

<script>
  import VueStarRating from 'vue-star-rating'

  export default {
    name: 'StarRating',
    props: ['item'],
    data() {
      return {
        isReviewVisible: false,
        review: '',
      }
    },
    components: {VueStarRating},
    methods: {
      save(rating) {
        console.log(rating)
        axios.post('/rating', {
          'product_id': this.item.id,
          'rating': rating,
        }).then(() => {
          this.isReviewVisible = true

        })
      },
      saveReview() {
        axios.post('/review', {
          'product_id': this.item.id,
          'review': this.review,
        }).then(() => {
          this.isReviewVisible = false
          window.location.reload()
        })
      }
    },
  }
</script>
