<template>

    <div class="col-12 col-sm-6 col-md-2 px-4 px-sm-3 m-3 justify-content-center item-card">
      <div class="h-100">
        <div class="text-center">
          <a :href="`/item/${relatedItem.slug}`" class="nav-link">
            <img :src="relatedItem.image" :alt="relatedItem.name" class="w-100 my-2 nav-link">
          </a>

        </div>
        <div class="card-body text-center d-flex align-items-end justify-content-center">
          <small class="card-text font-regular font-weight-bold text-color-gray-dark"  v-text="relatedItem.name"></small>
        </div>
      </div>
    </div>

</template>

<script>
  export default {
    name: 'RelatedItem',
    data() {
      return {
      }
    },
    props: ['relatedItem'],
  }
</script>

