<template>
  <div class="container-fluid">

   <div class="row">
     <div class="col-12">
       <div class="navbar custom-sticky-top custom-navbar-menu">
         <ul class="col-12 text-uppercase">
           <li @click="filterAllItems()" :class="active ? 'active' : null">All</li>

           <li v-for="cat in categories" :key="cat.id"
               @click="filter(cat)"
               :class="cat.name === category.name ? 'active' : null">
             {{ cat.name | capitalize }}
           </li>
         </ul>
       </div>
     </div>
   </div>

    <div class="products">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 px-4 px-sm-3 mb-4"
             v-for="shop in filteredItems"
             :key="shop.id">
          <div class="card prize-card h-100 border-0">
            <div class="text-center">
                <a :href="`/item/${shop.product.slug}`" class="nav-link">
                  <img :src="shop.product.image" :alt="shop.product.name" class="w-75 my-2">
                </a>
            </div>
            <div class="card-body text-center">
              <h4 class="card-text font-weight-bolder font-accent" v-text="shop.product.name"></h4>
              <p class="mb-1 text-color-gray-dark" v-text="shop.price > 0 ? shop.price : 'Currently out of stock'"></p>
              <p class="mb-1 text-color-gray-dark"><small>{{ shop.product.description }}</small></p>
            </div>

            <div class="units-counter">
              <p class="text-white">
                {{ shop.balance }} {{ shop.balance < 1 ? 'unit' : 'units' }}
                <br>
                left</p>
            </div>

            <button class="font-weight-bolder text-center border-0 text-white p-0 custom-button bbr-3
                    p-2 d-flex align-items-center justify-content-center font-regular"
                    @click="cart(shop)"
                    v-if="shop.balance > 0">
              <span v-if="shop.cart > 0">
                {{ shop.cart }}kg{{ shop.cart > 1 ? 's' : ''}} in cart
              </span>
              <span v-else>
                Add to cart
              </span>
            </button>

            <button :disabled="shop.wishlist"
                    class="font-weight-bolder text-center border-0 text-white p-0 custom-button bbr-3
                    p-2 d-flex align-items-center justify-content-center font-regular"
                    @click="addToWishlist(shop)"
                    v-else>
              {{  shop.wishlist ? 'Added to wishlist' : 'Add to wishlist' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Shops',
    props: ['auth'],
    data () {
      return {
        shops: [],
        categories: [],
        category: '',
        active: false,
        filteredItems: [],
      }
    },
    mounted () {
      this.fetchItems()
      this.fetchCategories()
    },
    filters: {
      capitalize: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
      }
    },
    methods: {
      fetchItems () {
        axios.get('/api/costing')
          .then(({data}) => {
            this.shops = data.data
            this.filterAllItems()
          })

      },
      fetchCategories () {
        axios.get('/api/categories')
          .then(({data}) => {
            this.categories = data
          })
      },
      filterAllItems () {
        this.filteredItems = this.shops
        this.active = true
        this.category = ''
      },
      filter(category) {
        this.filteredItems = []
        this.shops.forEach((item) => {
          if (item.product.category.name === category.name) {
            this.filteredItems.push(item)
          }
        })
        this.active = false
        this.category = category
      },
      cart(shop) {
        if (! this.auth) {
          window.location.href = '/login'
        }
        axios.put('/carts', {
          item: shop.product.id,
          price: shop.price,
        }).then(() => {
          this.$store.dispatch('getCartCount')
          this.fetchItems()
        })
      },
      addToWishlist(shop) {
        if (! this.auth) {
          window.location.href = '/login'
        }

        axios.put('/wishlist', {
          product_id: shop.product.id,
        }).then(() => {
          this.$store.dispatch('getNotifications')
          this.fetchItems()
        })
      }
    }
  }
</script>

<style scoped>
  :disabled {
    background: #52a91cc9;
  }

  .active {
    background: #52a91c;
    color: white;
  }

  .custom-sticky-top {
    position: sticky;
    top: 94px;
    z-index: 999;
    background: white;
  }
</style>
