//
// Bootstrap variables (overrides only)
// --------------------------------------------------


// Color system
$theme-colors: (
    primary: $brand-primary,
    secondary: $gray-600,
    success: $brand-success,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger
) !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:          200 !default;

// Options
$enable-validation-icons:           false !default;

// Components
$border-width:                      1px !default;

$border-radius:                     .25rem !default;
$border-radius-lg:                  .3rem !default;
$border-radius-sm:                  .2rem !default;

$component-active-color:            $white !default;
$component-active-bg:               theme-color("primary") !default;

$caret-width:                       .25em !default;


// Fonts
$display-line-height:               $headings-line-height !default;

$lead-font-size:                    1.5rem !default;

$hr-border-color:                   $body-bg-dark !default;


// Navs
$nav-tabs-border-color:             $body-bg-dark !default;
$nav-tabs-link-hover-border-color:  $body-bg-dark !default;
$nav-tabs-link-active-color:        $body-color !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-tabs-link-active-border-color: $body-bg-dark !default;

$nav-pills-link-active-color:       $white !default;
$nav-pills-link-active-bg:          $component-active-bg !default;


// Tables
$table-cell-padding:                10px !default;
$table-cell-padding-sm:             5px !default;

$table-accent-bg:                   rgba(0,0,0,.02) !default;
$table-hover-bg:                    rgba(0,0,0,.04) !default;
$table-active-bg:                   $table-hover-bg !default;

$table-border-color:                $body-bg-dark !default;

$table-head-bg:                     $body-bg-dark !default;
$table-head-color:                  $body-color !default;

$table-dark-bg:                     $brand-dark !default;
$table-dark-accent-bg:              rgba(0,0,0,.1) !default;
$table-dark-hover-bg:               rgba(0,0,0,.18) !default;
$table-dark-border-color:           lighten($brand-dark, 5%) !default;
$table-dark-color:                  $body-color-light !default;


// Buttons + Forms
$input-btn-padding-x:               1rem !default;
$input-btn-padding-y:               .4285714rem !default;
$btn-font-size:                     $font-size-base !default;
$input-btn-line-height:             1.428572 !default;

$input-btn-padding-x-sm:            .6429rem !default;
$input-btn-padding-y-sm:            .3571429rem !default;
$input-btn-font-size-sm:            $font-size-base !default;
$input-btn-line-height-sm:          1.1428572 !default;

$input-btn-padding-x-lg:            1.286rem !default;
$input-btn-padding-y-lg:            .64285714rem !default;
$input-btn-font-size-lg:            1.14285714rem !default;
$input-btn-line-height-lg:          1.25 !default;

// Buttons
$btn-padding-y:                     .57142857rem !default;
$btn-padding-x:                     1rem !default;
$btn-font-size:                     $font-size-base !default;
$btn-line-height:                   16px !default;

$btn-padding-y-sm:                  .3571429rem  !default;
$btn-padding-x-sm:                  .64285714rem !default;
$btn-font-size-sm:                  .9286rem !default;
$btn-line-height-sm:                16px !default;

$btn-padding-y-lg:                  .64285714rem !default;
$btn-padding-x-lg:                  1.285714rem !default;
$btn-font-size-lg:                  1.285714rem !default;
$btn-line-height-lg:                20px !default;

$input-btn-focus-box-shadow:        none !default;

$btn-font-weight:                   600 !default;
$btn-focus-box-shadow:              none !default;
$btn-active-box-shadow:             none !default;


// Forms

$label-margin-bottom:               5px !default;

$input-bg:                          $white !default;

$input-color:                       $body-color !default;
$input-border-color:                darken($body-bg-dark, 5%) !default;
$input-btn-border-width:            $border-width !default;
$input-box-shadow:                  none !default;

$input-focus-bg:                    $input-bg !default;
$input-focus-border-color:          darken($body-bg-dark, 25%) !default;
$input-focus-box-shadow:            none !default;

$input-transition:                  border-color ease-in-out .15s !default;

$form-group-margin-bottom:          16px !default;

$input-group-addon-bg:              $body-bg-light !default;
$input-group-addon-border-color:    $input-border-color !default;

$custom-control-indicator-size:     1.143rem !default;

$custom-control-indicator-focus-box-shadow:     0 0 0 1px $body-bg, 0 0 0 3px theme-color("primary") !default;

$custom-select-focus-border-color:  lighten(theme-color("primary"), 25%) !default;
$custom-select-focus-box-shadow:    inset 0 1px 2px rgba($black, .075), 0 0 5px rgba($custom-select-focus-border-color, .5) !default;

$custom-file-color:                 $body-color !default;
$custom-file-bg:                    $white !default;
$custom-file-border-color:          $input-border-color !default;
$custom-file-button-color:          $custom-file-color !default;


// Dropdowns
$dropdown-padding-y:                8px !default;
$dropdown-border-color:             $body-bg-dark !default;
$dropdown-border-radius:            2px !default;
$dropdown-divider-bg:               $body-bg-dark !default;
$dropdown-box-shadow:               0 15px 25px rgba(0,0,0,.05) !default;

$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:            $body-bg !default;

$dropdown-link-active-color:        $body-color !default;
$dropdown-link-active-bg:           $body-bg-dark !default;

$dropdown-item-padding-y:           5px !default;
$dropdown-item-padding-x:           10px !default;

$dropdown-header-color:             $headings-color !default;


// Pagination
$pagination-padding-y:              .57142857rem !default;
$pagination-padding-x:              .71428571rem !default;
$pagination-padding-y-sm:           .35714286rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .64285714rem !default;
$pagination-padding-x-lg:           1.42857143rem !default;
$pagination-line-height:            1.2 !default;

$pagination-color:                  $body-color-dark !default;
$pagination-bg:                     $body-bg !default;
$pagination-border-color:           $body-bg !default;

$pagination-hover-color:            $body-color-dark !default;
$pagination-hover-bg:               darken($body-bg-dark, 10%) !default;
$pagination-hover-border-color:     darken($body-bg-dark, 10%) !default;

$pagination-active-bg:              theme-color("primary") !default;
$pagination-active-border-color:    theme-color("primary") !default;

$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $white !default;


// Tooltips
$tooltip-bg:                        $brand-dark !default;
$tooltip-padding-y:                 4px !default;
$tooltip-padding-x:                 10px !default;

$tooltip-arrow-color:               $tooltip-bg !default;


// Popovers
$popover-inner-padding:             10px !default;
$popover-border-color:              $body-bg-dark !default;
$popover-box-shadow:                0 15px 25px rgba(0,0,0,.05) !default;

$popover-header-bg:                 $white !default;
$popover-header-padding-y:          12px !default;
$popover-header-padding-x:          10px !default;

$popover-body-padding-y:            10px !default;
$popover-body-padding-x:            10px !default;


// Badges
$badge-font-size:                   85% !default;
$badge-font-weight:                 600 !default;
$badge-padding-y:                   3px !default;
$badge-padding-x:                   5px !default;


// Modals
$modal-inner-padding:               $space-block !default;

$modal-content-border-width:        0 !default;
$modal-content-box-shadow-xs:       none !default;
$modal-content-box-shadow-sm-up:    none !default;

$modal-backdrop-opacity:            .5 !default !default;
$modal-header-border-color:         $body-bg-dark !default;
$modal-footer-border-color:         $body-bg-dark !default;
$modal-header-padding:              $space-base !default;


// Alerts
$alert-margin-bottom:               $space-base !default;
$alert-link-font-weight:            600 !default;
$alert-border-width:                0 !default;


// Progress bars
$progress-height:                   20px !default;
$progress-font-size:                1rem !default;
$progress-bar-bg:                   theme-color("primary") !default;


// List group
$list-group-border-color:           $body-bg-dark !default;

$list-group-hover-bg:               $body-bg-light !default;
$list-group-active-color:           $white !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    theme-color("primary") !default;

$list-group-action-color:           $body-color !default;
$list-group-action-hover-color:     $body-color !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $body-bg-dark !default;


// Breadcrumbs
$breadcrumb-padding-y:              9px !default;
$breadcrumb-padding-x:              14px !default;

$breadcrumb-bg:                     $gray-400 !default;
$breadcrumb-active-color:           $body-color-dark !default;
