// Colors
$primary:          #7CB356;
$secondary:        #6EB349;
$color1:           #49a318;
$color2:           #9FF072;
$color3:           #327011;
$accent:           #E9611B;
$dark:             #000000 !default;
$gray:             #9A999A;
$white:            #ffff;
$off-white:        #f5f5f5;

$colors : (
    "primary":          $primary,
    "secondary":        $secondary,
    "color2":           $color2,
    "color3":           $color3,
    "accent":           $accent,
    "primary-dark":     darken($primary, 15%),
    "primary-darker":   darken($primary, 25%),
    "primary-light":    lighten($primary, 15%),
    "primary-lighter":  lighten($primary, 30%),
    "gray":             $gray,
    "gray-dark":        darken($gray, 20%),
    "gray-light":       lighten($gray, 15%),
    "gray-lighter":     lighten($gray, 25%),
    "gray-lightest":    lighten($gray, 35%),
    "white":            $white,
    "off-white":        $off-white,

) !default;

@mixin make-text-color($name, $value) {
    .text-color-#{$name} {
        color: $value;
    }
}

@each $name, $value in $colors {
    @include make-text-color($name, $value)
}

@mixin make-bg-color($name, $value) {
    .bg-color-#{$name} {
        background: $value;
    }
}

@each $name, $value in $colors {
    @include make-bg-color($name, $value)
}


@mixin make-btn-color($name, $value) {
    .btn-color-#{$name} {
        background: $value;
    }
}

@each $name, $value in $colors {
    @include make-btn-color($name, $value)
}
