@use "./components/colors";

.products {

    .prize-card {
        border-radius: 20px;
        position: relative;
        box-shadow: 0 3px 15px rgba(0,0,0,0.2);

        .units-counter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, colors.$color1 50%, transparent 50%);
            border-top-left-radius: 15px;
            max-width: 90px;
            max-height: 90px;

            p {
                font-size: 10px;
                margin: 12px 5px;
            }
        }
    }

    .add-to-cart {
        background: colors.$color1 ;
    }
}


.br-3 {
    border-radius: 15px;
}

.bbr-3 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.item-card {
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}
