// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'layouts/style';
@import 'pages/style';
@import 'components/style';
@import 'products-card';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@font-face {
//    font-family: OptimusPrinceps;
//    src: url('{{asset('/fonts/OptimusPrinceps.tff')}}');
//}
