.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}


.sidebar {
    width: 300px;
    transform: translateX(calc(300px * -1));
    background: linear-gradient(to bottom right, #180f0f, #130e03) 90% 90%;
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: transform .6s, background-position 1s .6s;
    z-index: 99;
}

.input-toggler:checked ~ .sidebar {
    opacity: 1;
    transform: translateX(0);
    background-position: 0 0;
}

.menu-toggler {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 999;
}

.menu-toggler__line {
    height: calc(40px / 5);
    background: #E9611B;
    position: absolute;
    left: 0;
    right: 0;
    transition-property: transform, opacity;
    transition-duration: .5s, .25s;
    transition-delay: 0s, .5s;
    animation-name: slidein;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    transition-delay: .25s, 0s;
}

.menu-toggler__line:nth-child(2) {
    top: calc(40px / 5 * 2);
    animation-duration: .6s;
}

.menu-toggler__line:nth-child(3) {
    top: calc(40px / 5 * 4);
    animation-duration: .7s;
}

.input-toggler {
    display: none;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    background: #E9611B;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
    transform: translateY(calc(40px / 5 * 2)) rotate(45deg);
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
    opacity: 0;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
    transform: translateY(calc(40px / 5 * -2)) rotate(-45deg);
}

@keyframes slidein {
    from {
        left: -200%;
        right: 200%;
    }
    to {
        left: 0;
        right: 0;
    }
}

.sidebar ul.components {
    padding: 0;
}

.sidebar ul li {
    font-size: 16px;
}

.sidebar ul li > ul {
    margin-left: 10px;
}

.sidebar ul li > ul li {
    font-size: 14px;
}

.sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a:hover {
    color: #f8b739;
}

.sidebar ul li.active > a {
    background: transparent;
    color: #f8b739;
}
