//// Bootstrap functions (original)
//@import 'bootstrap/functions';
//
//// Bootstrap variables and mixins (original)
//@import 'bootstrap/variables';
//@import 'bootstrap/mixins';
//
//// Bootstrap components (original)
//@import 'bootstrap/reboot';
//@import 'bootstrap/type';
//@import 'bootstrap/images';
//@import 'bootstrap/code';
//@import 'bootstrap/grid';
//@import 'bootstrap/tables';
//@import 'bootstrap/forms';
//@import 'bootstrap/buttons';
//@import 'bootstrap/transitions';
//@import 'bootstrap/dropdown';
//@import 'bootstrap/button-group';
//@import 'bootstrap/input-group';
//@import 'bootstrap/custom-forms';
//@import 'bootstrap/nav';
//@import 'bootstrap/navbar';
//@import 'bootstrap/card';
//@import 'bootstrap/breadcrumb';
//@import 'bootstrap/pagination';
//@import 'bootstrap/badge';
////@import 'bootstrap/jumbotron';
//@import 'bootstrap/alert';
//@import 'bootstrap/progress';
//@import 'bootstrap/media';
//@import 'bootstrap/list-group';
//@import 'bootstrap/close';
//@import 'bootstrap/toasts';
//@import 'bootstrap/modal';
//@import 'bootstrap/tooltip';
//@import 'bootstrap/popover';
////@import 'bootstrap/carousel';
//@import 'bootstrap/spinners';
//@import 'bootstrap/utilities';
//@import 'bootstrap/print';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "_sidebar";

* {
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
    color: #303141;
}

#app {
    width: 100%;
}

.widget {
    border-radius: 5px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

a {
    color: #1b1e21;
}

@media (max-width: 768px) {
    .nav-tabs.custom-nav-tabs .nav-link {
        width: 25%;
        font-size: 10px;
    }

    .nav-tabs.custom-4-nav-tabs .nav-link {
        width: 50%;
        font-size: 12px;
    }

    .nav-tabs.custom-6-nav-tabs .nav-link {
        width: 16%;
        font-size: 10px;
    }
}
