<template>
    <form action="" @submit.prevent="pay()">
      <div class="card-header">
        <strong>Add payment</strong>
      </div>
        <div class="row justify-content-center my-4">
            <div class="form-group col-12 col-md-6 col-lg-3">
                <div class="col-md-12">
                    <div class="form-material">
                        <select id="cash" class="form-control" @change="getBank($event)" v-model="cash_id">
                            <option v-for="a in cash" :value="a.id">{{ a.bank }}</option>
                        </select>
                        <label for="cash">Name</label> <br>
                      <small>Balance: {{ balance }}</small>
                    </div>
                </div>
            </div>
<!--            <div class="form-group col-12 col-md-6 col-lg-2">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="form-material">-->
<!--                        <input required-->
<!--                               type="text"-->
<!--                               class="form-control"-->
<!--                               id="balance"-->
<!--                               v-model="balance">-->
<!--                        <label for="balance">Bank Balance</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="form-group col-12 col-md-6 col-lg-3">
                <div class="col-md-12">
                    <div class="form-material">
                        <input required
                               type="text"
                               class="form-control"
                               id="amount"
                               v-model="amount">
                        <label for="amount">Amount</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-12 col-md-6 col-lg-3">
                <div class="col-md-12">
                    <div class="form-material">
                        <input type="text" id="reference" class="form-control" v-model="reference">
                        <label for="reference">Reference #</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-12 col-md-6 col-lg-2">
                <div class="col-md-12">
                    <button type="submit" :class="classes" :disabled="submitted" class="btn btn-outline-warning">
                      Submit
                    </button>
                    <small>{{ message }}</small>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: 'AddPayment',
        props: ['po'],
        data() {
            return {
                cash: [],
                cash_id: '',
                balance: 0,
                amount: 0,
                reference: '',
                submitted: false,
            }
        },
        mounted() {
            axios.get('/api/cash')
                .then(({data}) => {
                    this.cash = data
                })
        },
        methods: {
            getBank(e) {
                this.balance = this.cash[e.target.value - 1].balance
            },
            pay() {
                axios.put(`/purchase-orders/${this.po.id}`, {
                    amount: this.amount,
                    cash_id: this.cash_id,
                    reference: this.reference,
                }).then(() => {
                    flash(`₱${this.amount} paid to PO#${this.po.id}`)
                    this.submitted = true
                    setTimeout(() => {
                        window.location.reload()
                    }, 1000);
                    this.cash_id = ''
                    this.amount = 0
                    this.reference = ''
                })

            }
        },
        computed: {
            message() {
                if (this.balance < this.amount) {
                    return "Please make sure you have enough balance"
                }
            },
            classes() {
                if (this.balance < this.amount) {
                    return "disabled"
                }

                if (this.amount <= 0) {
                    return "disabled"
                }
            }
        }
    }
</script>
