<template>
  <div class="card">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Add New Purchase Order
      <div>
        <button class="btn btn-sm btn-info" @click.prevent="addRow()">Add Row</button>
        <br>
        <small>Max row is {{ rowLimit }}</small>
      </div>
    </div>
    <form @submit.prevent="send()" class="p-4">
      <div class="form-group row">
        <div class="col-md-12">
          <div class="form-material pt-0 row d-flex justify-content-between">
            <div class="col-4">
              <select class="form-control py-0" v-model="vendor" required>
                <option>Please select</option>
                <option :value="vendor"
                        v-for="vendor in vendors"
                        v-text="vendor.name"></option>
              </select>
            </div>
            <div class="widget p-2" v-if="vendor.name">
              <small>{{ vendor.name }}</small> <br>
              <small>{{ vendor.address }}</small> <br>
              <small>{{ vendor.email }}</small> <br>
              <small>{{ vendor.contact }}</small> <br>
              <small>Payable in {{ vendor.terms }} days</small>
            </div>
          </div>
        </div>
      </div>

      <p class="text-right"><small class="text-danger" v-if="errorMessage">{{ errorMessage }}</small></p>

      <table class="mt-4">
        <thead>
        <tr>
          <td>Product</td>
          <td>Quantity</td>
          <td>Price</td>
          <td>Total</td>
        </tr>
        </thead>
        <tbody>

        <tr v-for="(order, index) in orders">
          <td>
            <select class="form-control py-0" v-model="order.item" required @input="clear()">
              <option>Please select</option>
              <option :value="product.id" v-for="product in products">{{ product.name }}</option>
            </select>
          </td>
          <td>
            <input type="text" class="form-control bg-transparent" placeholder="price" v-model="order.quantity"
                   required  @input="clear()">
           </td>
          <td>
            <input type="text" class="form-control bg-transparent" placeholder="price/unit"
                   v-model="order.price" required  @input="clear()">
          </td>
          <td>
            <input type="text" class="form-control bg-transparent" placeholder="price/unit"
                   :value="order.quantity * order.price | number " disabled>
          </td>
          <td v-if="index != 0">
            <i class="far fa-trash-alt" @click="remove(index)"></i>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-right">
            <small>TOTAL: {{ total | number }}</small>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="form-group row d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-warning">Submit</button>

        <button type="submit" class="btn btn-alt-secondary" @click="cancel()">Cancel</button>
      </div>
    </form>
    <div v-if="isLoading">
      <loading></loading>
    </div>
  </div>
</template>


<script>
import Loading from "../components/Loading";
import filters from "./Mixins/filters";

export default {
  name: 'AddPurchaseOrder',
  data() {
    return {
      vendors: [],
      products: [],
      vendor: [],
      orders: [{
        'item': '',
        'quantity': '',
        'price': '',
      }],
      isLoading: false,
      rowLimit: 6,
      errors: new Errors(),
      errorMessage: '',
    }
  },
  mixins: [ filters ],
  computed: {
    total: function () {
      return this.orders.reduce(function (a, c) {
        return (a + Number((c.price * c.quantity).toFixed(2)) || 0)
      }, 0)
    }
  },
  components: {Loading},
  mounted() {
    axios.get('/api/vendors')
      .then(({data}) => {
        this.vendors = data
      })
    axios.get('/api/products')
      .then(({data}) => {
        this.products = data.data
      })

  },
  methods: {
    addRow() {
      if (this.orders.length < this.rowLimit) {

        this.orders.push({
          item: '',
          quantity: '',
          price: '',
        })
      }
    },
    remove(index) {
      this.orders.splice(index, 1)
    },
    send() {
      this.isLoading = true
      axios.post('/purchase-orders', {
        'vendor_id': this.vendor.id,
        'orders': this.orders,
        'total': this.total,
      }).then(() => {
        this.isLoading = false
        this.$emit('added')
        flash(`Purchase Order with total ${this.total.toFixed(2) } has been sent.`)
      }).catch(error => {
        this.isLoading = false
        this.errors.record(error.response.data.errors)
        this.errorMessage = "Please make sure both price and quantity are numbers; and limit decimals to 2 places."
      })
    },
    cancel() {
      $('.js-add-purchase-order').fadeOut(300, () => {
        flash('Adding PO has been cancelled.')
      });
      this.$emit('cancelled')
    },
    clear() {
      this.errorMessage = ''
    }
  },
}
class Errors {
  constructor() {
    this.errors = {}
  }

  has(field) {
    return Object.prototype.hasOwnProperty.call(this.errors, field)
  }

  get(field) {
    if (this.errors[field]) {
      return this.errors[field][0]
    }
  }

  record(errors) {
    this.errors = errors
  }
}
</script>
