<template>
  <div class="card my-4">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Cash Deposits to {{ bank }}
    </div>

    <div class="card-body">
      <table class="table table-vcenter">
        <thead>
        <tr>
          <th class="d-none d-md-table-cell">Date</th>
          <th class="">Transaction</th>
          <th class="d-none d-md-table-cell">Reference#</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody v-if="ledgers.length">
        <tr v-for="entry in ledgers">
          <td class="d-none d-md-table-cell">{{ entry.ledger.created_at }}</td>
          <td>{{ entry.ledger.cashable_type == 'App\\Models\\CashDeposit' ? "Cash Deposit" : "Sales" }}
            <br>
            <small class="d-md-none">{{ entry.ledger.created_at | time }}</small>
          </td>
          <td class="d-none d-md-table-cell" v-if="entry.ledger.cashable_type === 'App\\Models\\CashDeposit'">
            <a :href="'/cash-deposits/' + entry.ledger.cashable_id">{{ entry.ledger.cashable_id }}</a>
          </td>
          <td class="d-none d-md-table-cell" v-else>
            <a :href="'/cash-payments/' + entry.ledger.cashable_id">{{ entry.ledger.cashable_id }}</a>
          </td>
          <td>{{ entry.ledger.amount | currency }}</td>
        </tr>
        <tr>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell"></td>
          <td>Balance as of today</td>
          <td>{{ total | currency }}</td>
        </tr>
        </tbody>
        <tbody v-else>
        <tr>
          <td colspan="5" class="text-center"><p>No data.</p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import filters from "./Mixins/filters";

export default {
  name: 'CashDeposit',
  props: ['id', 'bank'],
  data() {
    return {
      ledgers: [],
    }
  },
  mixins: [filters],
  mounted() {
    axios.get('/api/cash-ledger/' + this.id + '/deposits')
      .then(({data}) => {
        this.ledgers = data.data
      })
  },
  computed: {
    total: function () {
      return this.ledgers.reduce(function (total, a) {
        return total + Number((a.ledger.amount) || 0)
      }, 0)
    }
  }
}
</script>
