<template>
    <div class="row justify-content-center my-4">
        <div class="col-md-10 my-4">
            <div class="card my-4">
                <div class="card-header font-weight-bolder d-flex justify-content-between">
                    Cash Transactions
                </div>

                <div class="card-body">
                    <table class="table table-vcenter">
                        <thead>
                        <tr>
                            <th class="d-none d-md-table-cell">Date</th>
                            <th>Transaction</th>
                            <th class="d-none d-md-table-cell">Reference#</th>
                            <th>Amount</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody v-if="ledgers.length">
                        <tr v-for="entry in ledgers">
                            <td class="d-none d-md-table-cell">{{ entry.ledger.created_at | time }}</td>
                            <td>{{ entry.ledger.ledgerable_type }} <br>
                              <span class="d-block d-md-none">{{ entry.ledger.created_at | time }}</span></td>
                            <td class="d-none d-md-table-cell"><a :href="entry.ledger.po_path">{{ entry.ledger.ledgerable_id}}</a></td>
                            <td><a :href="'/products/' + entry.ledger.product.id">{{ entry.ledger.product.name}}</a></td>
                            <td>{{ entry.ledger.quantity }}</td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                        <tr>
                            <td colspan="5" class="text-center"> <p>No data.</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import filterMixins from "./Mixins/filters";

    export default {
        name: 'Cash',
        data() {
            return {
                ledgers: [],
            }
        },

      mixins: [ filterMixins ],

      mounted() {
            axios.get('/api/cash-ledger')
                .then(({data}) => {
                    this.ledgers = data.data
                    console.log(data.data)
                })
        },
        computed: {
            total: function() {
                return this.ledgers.reduce(function(a, c){return a + Number((c.quantity) || 0)}, 0)
            }
        }
    }
</script>
