<template>
<!--    <div class="card my-4">-->
<!--        <div class="card-header font-weight-bolder d-flex justify-content-between">-->
<!--            Cash Ledgers-->
<!--        </div>-->

<!--        <div class="card-body">-->
<!--            <table class="table table-vcenter">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Date</th>-->
<!--                    <th class="">Transaction</th>-->
<!--                    <th class="d-none d-sm-table-cell">Reference#</th>-->
<!--                    <th class="d-none d-sm-table-cell">Amount</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody v-if="ledgers.length">-->
<!--                <tr v-for="entry in ledgers">-->
<!--                    <td>{{ entry.ledger.created_at }}</td>-->
<!--                    <td>{{ entry.ledger.cashable_type }}</td>-->
<!--                    <td v-if="entry.ledger.cashable_type === 'App\\Models\\CashDeposit'">-->
<!--                        <a :href="'/cash-deposits/' + entry.ledger.cashable_id">{{ entry.ledger.cashable_id}}</a>-->
<!--                    </td>-->
<!--                    <td v-else>-->
<!--                        <a :href="'/cash-payments/' + entry.ledger.cashable_id">{{ entry.ledger.cashable_id}}</a>-->
<!--                    </td>-->
<!--                    <td>{{ entry.ledger.amount }}</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td>Balance as of today</td>-->
<!--                    <td>{{ total }}</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--                <tbody v-else>-->
<!--                <tr>-->
<!--                    <td colspan="5" class="text-center"><p>No data.</p></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
</template>

<script>
    export default {
        name: 'CashLedgers',
        data() {
            return {
                ledgers: [],
            }
        },
        mounted() {
            axios.get('/api/cash-ledger')
                .then(({data}) => {
                    this.ledgers = data.data
                })
        },
        computed: {
            total: function () {
                return this.ledgers.reduce(function (total, a) {
                    return total + Number((a.ledger.amount) || 0)
                }, 0)
            }
        }
    }
</script>
