<template>
  <div>
    <button class="btn btn-sm btn-info" type="button" @click="edit(item)">Override Costing
    </button>
    <div class="modal fade" id="costing-modal" tabindex="-1" role="dialog"
         aria-labelledby="product-modalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-popout" role="document">
        <div class="modal-content p-4">
          <div class="block block-themed block mb-0">
            <div class="block-header bg-primary-dark">
              <h3>Override Costing for {{ product.name }}</h3>
            </div>
            <div class="block-content">
              <table class="table table-vcenter text-center">
                <thead>
                <tr>
                  <th class="d-none d-sm-table-cell">New Price</th>
                  <th class="d-none d-sm-table-cell">Margin</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><input type="text" class="form-control" v-model="newPrice" @input="clear">
                    <br>
                    <span v-if="errorMessage" class="text-danger">{{ errorMessage }}</span>
                  </td>
                  <td v-if="newPrice">{{ (((newPrice - item.cost) / item.cost) * 100) | number }}%</td>
                  <td v-else>{{ (((item.price - item.cost) / item.cost) * 100) | number }}%</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-warning" @click=save(item.id)>
                SAVE
              </button>
              <button type="button" class="btn btn-outline-secondary" @click="reset()">Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import filters from "./Mixins/filters";

export default {
  name: 'Costing',
  props: ['item', 'product'],
  data() {
    return {
      newPrice: 0,
      errors: new Errors(),
      errorMessage: '',
    }
  },
  mixins: [filters],
  methods: {
    edit(item) {
      $('#costing-modal').modal('show');
      this.clickedItem = item
    },
    reset() {
      this.newPrice = 0;
      $('#costing-modal').modal('hide');
    },
    save(id) {
      axios.put('/shops/' + id, {
        price: this.newPrice
      }).then(() => {
        $('#costing-modal').modal('hide');
        flash(this.product.name + '\'s costing has been successfully edited.')
        setTimeout(() => {
          window.location.href = `/products/${this.product.slug}/costing`
          flash(this.product.name + '\'s costing has been successfully edited.')
        }, 2000);
      }).catch(error => {
        this.errors.record(error.response.data.errors)
        this.errorMessage = this.errors.errors.price[0]
      })
    },
    clear() {
      this.errorMessage = ''
    }
  }
}

class Errors {
  constructor() {
    this.errors = {}
  }

  has(field) {
    return Object.prototype.hasOwnProperty.call(this.errors, field)
  }

  get(field) {
    if (this.errors[field]) {
      return this.errors[field][0]
    }
  }

  record(errors) {
    this.errors = errors
  }
}
</script>
