<template>
  <div class="card my-4">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Ledger Transactions of {{ equity }}
    </div>

    <div class="card-body">
      <table class="table table-vcenter">
        <thead>
        <tr>
          <th class="d-none d-md-table-cell">Date</th>
          <th class="">Transaction</th>
          <th class="d-none d-md-table-cell">Reference#</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody v-if="ledgers.length">
        <tr v-for="entry in ledgers">
          <td class="d-none d-md-table-cell">{{ entry.created_at | time }}</td>
          <td>Cash Deposit
            <br>
            <small class="d-md-none">{{ entry.created_at | time }}</small>
          </td>
          <td class="d-none d-md-table-cell">
            <a :href="'/cash-deposits/' + entry.id">{{ entry.id }}</a>
          </td>
          <td>{{ entry.amount | currency }}</td>
        </tr>
        <tr>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell"></td>
          <td>Balance as of today</td>
          <td>{{ total | currency }}</td>
        </tr>
        </tbody>
        <tbody v-else>
        <tr>
          <td colspan="5" class="text-center"><p>No data.</p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import filters from "./Mixins/filters";

export default {
  name: 'EquityLedger',
  props: ['id', 'equity'],
  data() {
    return {
      ledgers: [],
    }
  },
  mixins: [filters],
  mounted() {
    axios.get('/api/equity-ledger/' + this.id)
      .then(({data}) => {
        this.ledgers = data
      })
  },
  computed: {
    total: function () {
      return this.ledgers.reduce(function (total, a) {
        return total + Number((a.amount) || 0)
      }, 0)
    }
  }
}
</script>
