<template>
<!--    <div class="row justify-content-center my-4">-->
<!--        <div class="col-md-10 my-4">-->
<!--            <div class="card my-4">-->
<!--                <div class="card-header font-weight-bolder d-flex justify-content-between">-->
<!--                    Product Ledgers-->
<!--                </div>-->

<!--                <div class="card-body">-->
<!--                    <table class="table table-vcenter">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Date</th>-->
<!--                            <th class="">Transaction</th>-->
<!--                            <th class="d-none d-sm-table-cell">Reference#</th>-->
<!--                            <th class="d-none d-sm-table-cell">Product</th>-->
<!--                            <th class="d-none d-sm-table-cell">Quantity</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody v-if="ledgers.length">-->
<!--                        <tr v-for="entry in ledgers">-->
<!--                            <td>{{ entry.ledger.created_at }}</td>-->
<!--                            <td>{{ entry.ledger.ledgerable_type }}</td>-->
<!--                            <td><a :href="entry.ledger.po_path">{{ entry.ledger.ledgerable_id}}</a></td>-->
<!--                            <td><a :href="'/products/' + entry.ledger.product.id">{{ entry.ledger.product.name}}</a></td>-->
<!--                            <td>{{ entry.ledger.quantity }}</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                        <tbody v-else>-->
<!--                        <tr>-->
<!--                            <td colspan="5" class="text-center"> <p>No data.</p></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</template>

<script>
    export default {
        name: 'Inventory',
        data() {
            return {
                ledgers: [],
            }
        },
        mounted() {
            axios.get('/api/products-ledger')
                .then(({data}) => {
                    this.ledgers = data.data
                    console.log(data.data)
                })
        },
        computed: {
            total: function() {
                return this.ledgers.reduce(function(a, c){return a + Number((c.quantity) || 0)}, 0)
            }
        }
    }
</script>
