<template>
    <div class="row justify-content-center my-4">
        <div class="col-md-10 my-4">
            <div class="card">
                <div class="card-header font-weight-bolder d-flex justify-content-between">
                    Payables
                </div>

                <div class="card-body">
                    <table class="table table-vcenter">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th class="">Vendor</th>
                            <th class="d-none d-sm-table-cell">PO#</th>
                            <th class="d-none d-sm-table-cell">Total</th>
                            <th class="d-none d-sm-table-cell">Due in</th>
                        </tr>
                        </thead>
                        <tbody v-if="payables.length">
                        <tr v-for="payable in payables">
                            <td>{{ payable.created_at }}</td>
                            <td><a :href="payable.vendor_path">{{ payable.vendor.name }}</a></td>
                            <td><a :href="payable.po_path">{{ payable.po.id }}</a></td>
                            <td>{{ payable.total }}</td>
                            <td>{{ payable.vendor.terms }}</td>
                        </tr>
                        <tr>
                            <td>TOTAL: {{ total }}</td>
                        </tr>

                        </tbody>
                        <tbody v-else>
                        <tr>
                            <td colspan="5" class="text-center"> <p>No data.</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Payable',
        props: ['vendor'],
        data() {
            return {
                payables: [],
            }
        },
        mounted() {
            axios.get('/api/payables/' + this.vendor.id)
                .then(({data}) => {
                    this.payables = data.data
                })
        },
        computed: {
            total: function() {
                return this.payables.reduce(function(a, c){return a + Number((c.total) || 0)}, 0)
            }
        }
    }
</script>
