<template>
  <div class="card my-4">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Purchases
    </div>

    <div class="card-body">
      <table class="table table-vcenter">
        <thead>
        <tr>
          <th class="d-none d-md-table-cell">Date</th>
          <th class="">Customer</th>
          <th class="d-none d-md-table-cell">Reference#</th>
          <th>Quantity</th>
          <th class="d-none d-md-table-cell">Price</th>
        </tr>
        </thead>
        <tbody v-if="ledgers.length">
        <tr v-for="entry in ledgers">
          <td class="d-none d-md-table-cell">{{ entry.ledger.created_at | time }}</td>
          <td>
            <a :href="'/vendors/' + entry.vendor.slug">{{ entry.vendor.name }}</a>
            <br>
            <small class="d-md-none">{{ entry.ledger.created_at | time }}</small>
          </td>
          <td class="d-none d-md-table-cell"><a :href="'/purchase-orders/' + entry.ledger.ledgerable_id">{{
              entry.ledger.ledgerable_id}}</a>
          </td>
          <td>{{ entry.ledger.quantity }} <small>kgs</small>
            <br>
            <small class="d-md-none">{{ entry.cost.cost | currency }}</small></td>
          <td class="d-none d-md-table-cell">{{ entry.cost.cost | currency }}</td>
        </tr>
        <tr>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell"></td>
          <td>Total Purchases as of today</td>
          <td>{{ total }} kg/s</td>
          <td class="d-none d-md-table-cell"></td>
        </tr>
        </tbody>
        <tbody v-else>
        <tr>
          <td colspan="5" class="text-center"><p>No data.</p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import filters from "./Mixins/filters";

export default {
  name: 'ProductPurchases',
  props: ['id'],
  data() {
    return {
      ledgers: [],
    }
  },
  mixins: [filters],
  mounted() {
    axios.get('/api/product-ledger/' + this.id + '/purchases')
      .then(({data}) => {
        this.ledgers = data.data
      })
  },
  computed: {
    total: function () {
      return this.ledgers.reduce(function (total, a) {
        return total + Number((a.ledger.quantity) || 0)
      }, 0)
    }
  }
}
</script>
