<template>
    <div class="card my-4">
        <div class="card-header font-weight-bolder d-flex justify-content-between">
            Product Ledgers
        </div>

        <div class="card-body">
            <table class="table table-vcenter">
                <thead>
                <tr>
                    <th class="d-none d-sm-table-cell">Date</th>
                    <th class="">Transaction</th>
                    <th class="d-none d-sm-table-cell">Reference#</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody v-if="ledgers.length">
                <tr v-for="entry in ledgers">
                    <td class="d-none d-sm-table-cell">{{ entry.ledger.created_at | time }}</td>
                    <td>{{ entry.ledger.ledgerable_type === 	"App\\Models\\PurchaseOrder" ? 'Purchase' : 'Sales'}}
                      <br>
                    <small class="d-md-none">{{ entry.ledger.created_at | time }}</small></td>
                    <td class="d-none d-sm-table-cell">
                        <a v-if="entry.ledger.ledgerable_type === 'App\\Models\\PurchaseOrder'" :href="'/purchase-orders/' + entry.ledger.ledgerable_id">{{ entry.ledger.ledgerable_id}}</a>
                        <a v-else :href="'/sales-orders/' + entry.ledger.ledgerable_id">{{ entry.ledger.ledgerable_id}}</a>
                    </td>
                    <td>{{ entry.ledger.quantity }} <small>kgs</small></td>
                </tr>
                <tr>
                    <td class="d-none d-sm-table-cell"></td>
                    <td class="d-none d-sm-table-cell"></td>
                    <td>Balance as of today</td>
                    <td>{{ total }} kgs</td>
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                    <td colspan="5" class="text-center"><p>No data.</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import filters from "./Mixins/filters";

    export default {
        name: 'ProductLedger',
        props: ['id'],
        data() {
            return {
                ledgers: [],
            }
        },
      mixins: [ filters ],
        mounted() {
            axios.get('/api/product-ledger/' + this.id)
                .then(({data}) => {
                    this.ledgers = data.data
                })
        },
        computed: {
            total: function () {
                return this.ledgers.reduce(function (total, a) {
                    return total + Number((a.ledger.quantity) || 0)
                }, 0)
            }
        }
    }
</script>
