<template>
  <div>
    <div v-if="adding">
      <add-purchase-order @added="added" @cancelled="adding = false"></add-purchase-order>
    </div>

    <div class="widget my-4">
      <div class="card-header font-weight-bolder d-flex justify-content-between">
        Purchase Orders
        <div class="btn-group text-center" v-if="!adding">
          <a @click="openAddPoSection()"
             class="btn btn-sm btn-info text-white">Add new</a>
        </div>
      </div>

      <div class="nav nav-tabs custom-6-nav-tabs">
        <a class="nav-link active" href="#" @click.prevent="getAllOrders()">All</a>
        <a class="nav-link" v-for="status in statuses" href="#"
           @click.prevent="filter(status)">{{ status.name | capitalize }}</a>
      </div>

      <div class="card-body" v-if="filteredOrders.length">
        <table class="table table-vcenter">
          <thead>
          <tr>
            <th class="d-none d-md-table-cell">PO Number</th>
            <th>Vendor</th>
            <th>Total</th>
            <th class="d-none d-md-table-cell">Terms</th>
            <th class="d-none d-md-table-cell">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="a in filteredOrders">
            <td class="d-none d-md-table-cell">{{ a.po.id }}</td>
            <td>
              <a :href="`/purchase-orders/${a.po.id}`">{{ a.po.vendor.name }}</a>
              <br>
              <small class="d-md-none">{{ a.po.status.name | capitalize }}</small>
            </td>
            <td>{{ a.po.total | currency }}</td>
            <td class="d-none d-md-table-cell">{{ a.po.vendor.terms }} days</td>
            <td class="d-none d-md-table-cell">{{ a.po.status.name | capitalize }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div v-else class="py-4">
        <p class="text-center">No purchase order as of this date.</p>
      </div>
    </div>
  </div>
</template>

<script>
import filters from "./Mixins/filters";

export default {
  name: 'PurchaseOrders',
  data() {
    return {
      purchaseOrders: [],
      statuses: [],
      po: [],
      status: [],
      filteredOrders: this.purchaseOrders,
      adding: false,
    }
  },
  mixins: [filters],
  mounted() {
    this.getList()
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  },
  methods: {
    openAddPoSection() {
      this.adding = true
    },
    getList() {
      axios.get('/api/purchase-orders')
        .then(({data}) => {
          this.purchaseOrders = data.data
          this.getAllOrders()
        })

      axios.get('/api/purchases-statuses')
        .then(({data}) => {
          this.statuses = data
        })
    },
    getAllOrders() {
      this.filteredOrders = this.purchaseOrders
    },
    filter(status) {
      this.filteredOrders = []
      this.purchaseOrders.forEach((purchaseOrder) => {
        if (purchaseOrder.po.status.id === status.id) {
          this.filteredOrders.push(purchaseOrder)
        }
      })
    },
    added() {
      this.adding = false
      this.getList()
    },

  },
  computed: {
    total: function () {
      return this.purchaseOrders.reduce(function (a, c) {
        return a + Number((c.price * c.quantity) || 0)
      }, 0)
    }
  }
}
</script>
