<template>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-outline-warning mr-2" @click="receive()">Receive</button>
    <delete-button :id="po.id"
                   :name="'this PO'"
                   :path="'/purchase-orders/' + po.id"
                   :redirect-url="'/purchase-orders'"
                   :customClass="'btn-outline-secondary'"
    ></delete-button>
  </div>
</template>

<script>
export default {
  name: 'ReceiveInventory',
  props: ['po'],
  methods: {
    receive() {
      axios.post('/products-ledger/' + this.po.id)
        .then(() => {
          flash('Items have been successfully received and recorded.')
          setTimeout(() => {
            window.location.reload()
          }, 2000);
        })

    },
  }
}

</script>
