<template>
  <div class="widget my-4 p-4">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Sales Orders
    </div>

    <ul class="nav nav-tabs custom-4-nav-tabs pt-2">
        <a class="nav-link nav-link active" href="#" @click="getAllOrders()">All</a>
    </ul>

    <div class="card-body py-4">
      <table class="table table-vcenter">
        <thead>
        <tr>
          <th class="d-none d-md-table-cell">Date</th>
          <th class="d-none d-md-table-cell">SO Number</th>
          <th>Customer</th>
          <th>Total</th>
          <th class="d-none d-md-table-cell">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="filteredOrders.length" v-for="order in filteredOrders">
          <td class="d-none d-md-table-cell">{{ order.created_at | time }}</td>
          <td class="d-none d-md-table-cell">
            <a :href="`/sales-orders/${order.id}`">
              {{ order.id }}
            </a>

          </td>
          <td>{{ order.customer.name }} <br>
            <small class="d-block d-md-none">{{ order.created_at | time }}</small>
          </td>
          <td>{{ order.total | currency }}</td>
          <td class="d-none d-md-table-cell">{{ order.status.name | capitalize }}</td>
        </tr>
        <tr v-else>
          <td colspan="6">No data as of this date.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import filterMixins from './Mixins/filters'

export default {
  name: 'SalesOrders',

  data() {
    return {
      salesOrders: [],
      statuses: [],
      po: [],
      status: [],
      filteredOrders: this.salesOrders,
    }
  },

  mixins: [ filterMixins ],

  mounted() {
    axios.get('/api/sales-orders')
      .then(({data}) => {
        this.salesOrders = data.data
        this.getAllOrders()
      })

    axios.get('/api/sales-statuses')
      .then(({data}) => {
        this.statuses = data
      })
  },

  methods: {
    filter(status) {
      this.filteredOrders = []
      this.salesOrders.forEach((salesOrder) => {
        if (salesOrder.status.id === status.id) {
          this.filteredOrders.push(salesOrder)
        }
      })
    },
    getAllOrders() {
      this.filteredOrders = this.salesOrders
    }
  },
  computed: {
    total: function () {
      return this.salesOrders.reduce(function (a, c) {
        return a + Number((c.price * c.quantity) || 0)
      }, 0)
    }
  }
}
</script>
