<template>
<!--    <div class="row justify-content-center my-4">-->
<!--        <div class="col-md-10 my-4">-->
<!--            <div class="card my-4">-->
<!--                <div class="card-header font-weight-bolder d-flex justify-content-between">-->
<!--                    Sales-->
<!--                </div>-->

<!--                <div class="card-body">-->
<!--                    <table class="table table-vcenter">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Date</th>-->
<!--                            <th class="">Customer</th>-->
<!--                            <th class="d-none d-sm-table-cell">SO#</th>-->
<!--                            <th class="d-none d-sm-table-cell">Total</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody v-if="sales.length">-->
<!--                        <tr v-for="order in sales">-->
<!--                            <td>{{ order.created_at }}</td>-->
<!--                            <td><a :href="order.customer_path">{{ order.customer.name }}</a></td>-->
<!--                            <td><a :href="order.sales_path">{{ order.id }}</a></td>-->
<!--                            <td>{{ order.total }}</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>TOTAL: {{ total }}</td>-->
<!--                        </tr>-->

<!--                        </tbody>-->
<!--                        <tbody v-else>-->
<!--                        <tr>-->
<!--                            <td colspan="5" class="text-center"> <p>No data.</p></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</template>

<script>
    export default {
        name: 'Sales',
        data() {
            return {
                sales: [],
            }
        },
        mounted() {
            axios.get('/api/sales-orders')
                .then(({data}) => {
                    this.sales = data.data
                })
        },
        computed: {
            total: function() {
                return this.sales.reduce(function(a, c){return a + Number((c.total) || 0)}, 0)
            }
        }
    }
</script>
