<template>
  <div class="card my-4">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Orders
    </div>

    <div class="card-body">
      <table class="table table-vcenter">
        <thead>
        <tr>
          <th>Date</th>
          <th class="d-none d-md-table-cell">Reference#</th>
          <th>Total</th>
          <th class="d-none d-md-table-cell">Status</th>
        </tr>
        </thead>
        <tbody v-if="salesOrders.length">
        <tr v-for="entry in salesOrders">
          <td>{{ entry.created_at | time }}</td>
          <td class="d-none d-md-table-cell"><a :href="entry.sales_path">{{ entry.id }}</a></td>
          <td>{{ entry.total }}</td>
          <td class="d-none d-md-table-cell">{{ entry.status.name | capitalize }}</td>
        </tr>
        </tbody>
        <tbody v-else>
        <tr>
          <td colspan="5" class="text-center"><p>No data.</p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import filterMixins from "./Mixins/filters";

export default {
  name: 'UsersOrders',

  props: ['user'],

  data() {
    return {
      salesOrders: [],
      statuses: [],
    }
  },

  mixins: [ filterMixins ],

  mounted() {
    axios.get('/api/sales-orders/' + this.user)
      .then(({data}) => {
        this.salesOrders = data.data
      })

    axios.get('/api/statuses')
      .then(({data}) => {
        this.statuses = data
      })
  },
}
</script>
