<template>
    <div class="block">
        <div class="block-header block-header-default d-flex justify-content-between">
            <h3 class="block-title font-weight-bolder" @click="showInfo()">{{  vendor.name }}</h3>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link"
                       @click="showLedger()"
                       id="payables-tab"
                       data-toggle="tab" role="tab"
                       href="#payables"
                       aria-controls="payables" aria-selected="true">
                        Ledger
                    </a>
                    <a class="nav-item nav-link"
                       @click="showLedger()"
                       id="po-tab"
                       data-toggle="tab" role="tab"
                       href="#po"
                       aria-controls="po" aria-selected="true">
                       Purchases
                    </a>
                </div>
            </nav>



            <div class="btn-group text-center">
                <a :href="vendor.path + '/edit'" title="edit" class="btn btn-sm btn-info"><i class="fas fa-pencil-alt"></i></a>
                <delete-button :id="vendor.id"
                               :name="'vendor.name'"
                               :path="'vendor.path'"
                               :redirect-url="'/vendors'"
                ></delete-button>
            </div>

        </div>

        <div class="block-content" v-show="tabsAreVisible">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="payables" role="tabpanel" aria-labelledby="payables-tab">
                    <payable :vendor="vendor"></payable>
                </div>
                <div class="tab-pane fade" id="po" role="tabpanel" aria-labelledby="po-tab">
                    aPO
                </div>
            </div>
        </div>


        <div class="block-content" v-show="infoIsVisible">
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Description</label>
                </div>
                <div class="col-md-9">
                    <p>{{ vendor.description}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Email</label>
                </div>
                <div class="col-md-9">
                    <p>{{ vendor.email}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Contact Number</label>
                </div>
                <div class="col-md-9">
                    <p>{{ vendor.contact}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label>Address</label>
                </div>
                <div class="col-md-9">
                    <p>{{ vendor.address}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Payable from './Payable';

    export default {
        props: ['vendor'],
        data() {
            return {
                infoIsVisible: true,
                tabsAreVisible: false
            }
        },
        components: { Payable },
        methods: {
            showLedger() {
                this.infoIsVisible = false
                this.tabsAreVisible = true
            },
        }
    }
</script>
