<template>
  <div class="card my-4">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Purchases from {{ vendor }}
    </div>

    <div class="card-body">
      <table class="table table-vcenter">
        <thead>
        <tr>
          <th class="d-none d-md-table-cell">Date</th>
          <th class="">Due Date</th>
          <th class="d-none d-md-table-cell">PO#</th>
          <th class="">Total</th>
        </tr>
        </thead>
        <tbody v-if="purchases.length">
        <tr v-for="entry in purchases">
          <td class="d-none d-md-table-cell">{{ entry.po.created_at | time }}</td>
          <td>{{ entry.po.due_at | time }}
            <br>
          <small class="d-md-none">Purchase date: {{ entry.po.created_at | time }}</small></td>
          <td class="d-none d-md-table-cell"><a :href="entry.path">{{ entry.po.id }}</a></td>
          <td>{{ entry.po.total | currency }}</td>
        </tr>
        <tr>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell"></td>
          <td>Total purchases as of today</td>
          <td>{{ total | currency }}</td>
        </tr>
        </tbody>
        <tbody v-else>
        <tr>
          <td colspan="5" class="text-center"><p>No data.</p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import filters from "./Mixins/filters";

export default {
  name: 'VendorPurchases',
  props: ['id', 'vendor'],
  data() {
    return {
      purchases: [],
    }
  },
  mixins: [filters],
  mounted() {
    axios.get('/api/vendor-purchases/' + this.id)
      .then(({data}) => {
        this.purchases = data.data
      })
  },
  computed: {
    total: function () {
      return this.purchases.reduce(function (total, a) {
        return total + Number((a.po.total) || 0)
      }, 0)
    }
  }
}
</script>
