<template>
  <div class="card my-4">
    <div class="card-header font-weight-bolder d-flex justify-content-between">
      Payments to {{ vendor }}
    </div>

    <div class="card-body">
      <table class="table table-vcenter">
        <thead>
        <tr>
          <th>Date</th>
          <th class="d-none d-md-table-cell">Reference#</th>
          <th class="d-none d-md-table-cell">Bank</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody v-if="payments.length">
        <tr v-for="payment in payments">
          <td>{{ payment.created_at | time }}
            <br>
            <small class="d-md-none">Reference#: <a :href="'/cash-payments/' + payment.id">{{ payment.id }}</a></small></td>
          <td class="d-none d-md-table-cell"><a :href="'/cash-payments/' + payment.id">{{ payment.id }}</a>
          <td class="d-none d-md-table-cell"><a :href="'/cash/' + payment.cash.id">{{ payment.cash.bank }}</a>
          </td>
          <td>{{ payment.amount * -1 | currency }}
          </td>
        </tr>
        <tr>
          <td class="d-none d-md-table-cell"></td>
          <td class="d-none d-md-table-cell"></td>
          <td>Total payments as of today</td>
          <td>{{ total * -1 | currency }}</td>
        </tr>
        </tbody>
        <tbody v-else>
        <tr>
          <td colspan="5" class="text-center"><p>No data.</p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import filters from "./Mixins/filters";

export default {
  name: 'VendorPayments',
  props: ['id', 'vendor'],
  data() {
    return {
      payments: [],
    }
  },
  mixins: [ filters ],
  mounted() {
    axios.get('/api/vendor-payments/' + this.id)
      .then(({data}) => {
        this.payments = data.data
      })
  },
  computed: {
    total: function () {
      return this.payments.reduce(function (total, a) {
        return total + Number((a.amount) || 0)
      }, 0)
    }
  }
}
</script>
