<template>
    <span>
        <button
            class="btn"
            :class="customClass"
            title="delete"
            type="button"
            @click="confirm()"
        >
            Delete
        </button>

        <div class="modal" tabindex="-1" role="dialog" id="delete-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete {{ name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Are you sure you want to delete {{ name }}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="deleteItem()">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>

<script>
    export default {
        name: 'DeleteButton',
        //props: ['id', 'name', 'path', 'redirectUrl', 'text', 'customClass'],
        props: {
          id: {
            type: Number
          },
          name: {
            type: String,
          },
          path: {
            type: String,
          },
          redirectUrl: {
            type: String,
          },
          text: {
            type: String,
          },
          customClass: {
            type: String,
            default: 'btn-sm btn-info'
          }
        },
        methods: {
            confirm() {
                $('#delete-modal').modal('show');
            },
            deleteItem() {
                $('#delete-modal').modal('hide')
                axios.delete(this.path)
                    .then(() => {
                        flash(this.name + ' has been successfully deleted.')

                        setTimeout(() => {
                            window.location.href = this.redirectUrl
                        }, 2000);

                    })
            }
        }
    }
</script>
