<template>
  <div class="text-center" style="min-height: 200px;">
    <loading :active.sync="isLoading"
             :can-cancel="true"
    ></loading><p class="processing"></p>
  </div>
</template>

<script>
  import Loading from 'vue-loading-overlay'
  // Import stylesheet
  import 'vue-loading-overlay/dist/vue-loading.css'

  export default {
    data () {
      return {
        isLoading: true,
        fullPage: false
      }
    },
    components: {
      Loading
    },
  }
</script>


<!--<style>-->
<!--  .vld-overlay .vld-background {-->
<!--    opacity: 0 !important;-->
<!--  }-->

<!--  svg {-->
<!--    stroke: #c60000 !important;-->
<!--    width: 130px !important;-->
<!--    height: 130px !important;-->
<!--  }-->

<!--  .processing {-->
<!--    position: absolute;-->
<!--    top: 35%;-->
<!--    left: 52%;-->
<!--    transform: translate(-50%, -50%);-->
<!--    font-size: 12px;-->
<!--  }-->

<!--</style>-->
