<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" ref="modal">
        <div class="modal-dialog modal-dialog-popout modal-dialog-centered" :class="addClass" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title" v-text="title"></h3>
                        <!--end of title-->
                        <div class="block-options">
                            <button type="button" @click="hide()" class="btn-block-option" data-dismiss="modal"
                                    aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body px-4 pb-4 pt-0">
                    <slot v-if="generic"></slot>
                    <template v-else>
                        <div class="row">
                            <div class="col-12 text-center text-primary mb-3">
                                <h2 class="font-weight-bolder">
                                    <slot name="header"></slot>
                                </h2>
                            </div>
                            <div class="col-12 text-center modal-text">
                                <slot name="body"></slot>
                            </div>
                            <div class="col-12 text-center pt-4">
                                <slot name="buttons"></slot>
                            </div>
                        </div>
                    </template>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'Modal',

        props: {
            generic: {
                type: Boolean,
                default: false,
            },
            shouldShow: {
                type: Boolean,
                default: false,
            },
            addClass: String,
            title: String,
        },

        data() {
            return {
                // This would allow us to show the modal just
                // by changing the value via Vue Dev Tools.
                // This is private. Do not modify this value
                // externally.
                isShown: false,
            }
        },

        mounted() {
            if (this.shouldShow) {
                this.show()
            }
        },

        beforeDestroy() {
            $(this.$el).modal('dispose')
        },

        methods: {
            show() {
                $(this.$el).modal('show')
            },
            hide() {
                $(this.$el).modal('hide')
                this.$emit('hide')
            }
        },

        watch: {
            isShown(isShown) {
                if (isShown) {
                    this.show()
                } else {
                    this.hide()
                }
            }
        }
    }
</script>
