<template>
  <div class="notification-container pb-3" @click="show">
    <div class="row emails">
      <div class="col-2 text-primary text-center mr-4">
        <i :class="notification.data.icon" class="fa-2x"></i>
      </div>
      <div class="col-7 pr-3 pl-0">
        <span class="notification-title" :class="notification.read_at === null  ? 'font-weight-bold' : null ">
          {{ notification.data.message }}
        </span>
        <p class="notification-body mb-1">
          <small class="notification-date mr-2">{{ notification.created_at | time }}</small>
        </p>

      </div>
      <div class="col-1 d-flex align-self-center text-primary pl-0">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</template>

<script>
import filterMixins from "../pages/Mixins/filters";

export default {
  name: 'NotificationItem',

  props: {
    notification: Object,
  },

  mixins: [ filterMixins ],

  methods: {
    show() {
      this.$emit('show')
    }
  }
}
</script>

<style scoped>
.notification-container {
  cursor: pointer;
}
</style>
