<template>
  <div>

    <li class="nav-item dropdown">
           <span>
              <a id="navbarDropdown" class="nav-link" role="button"
                 data-toggle="dropdown">
                <span class="text-dark">Notifications</span>
                     <span
                       class="badge badge-warning"
                       v-if="results.length">
                         {{ this.$store.state.notificationsCount }}
                     </span>
              </a>

              <ul class="dropdown-menu">

                  <li v-for="notification in notifications">
                      <a
                        class="dropdown-item text-dark"
                        v-text="notification.data.message"
                        :href="notification.data.url"
                        @click="markAsRead(notification)">
                      </a>
                  </li>

                  <hr>

                  <li v-if="results.length">
                    <a class="dropdown-item text-dark"
                       href="/notifications">
                      View all
                    </a>
                  </li>

                  <li v-else>
                      No new notifications.
                  </li>
              </ul>
            </span>
    </li>
  </div>
</template>

<script>
export default {
  data() {
    return {
      results: false,
      notifications: [],
    }
  },
  mounted() {
    this.$store.dispatch('getAdminNotifications')
  },
  created() {
    axios.get("/unread-notifications")
      .then((response) => {
        this.results = response.data
        this.results.forEach(e => {
          if (this.notifications.length < 5) {
            this.notifications.push(e)
          }
        })
      })
  },
  methods: {
    markAsRead(notification) {
      axios.delete("/notifications/" + notification.id)
    },
  }
}
</script>

<style scoped>
@media (min-width: 992px) {
  .dropdown-menu {
    transform: translateX(-50%);
  }
}
</style>

