<template>
  <div class="card my-4">
    <div v-if="results.length">
      <div v-if="!notificationClicked">
        <div class="card-header font-weight-bolder">
          Notifications
        </div>
        <div class="col-12 mt-2">
          <div class="form-group">
            <input type="text"
                   class="form-control"
                   v-model="searchKeyword" placeholder="Search here"
            >
          </div>
        </div>
        <div class="col-12 my-3" v-for="result in filteredList">
          <notification-item :notification="result" @show="showNotification(result)"></notification-item>
        </div>
      </div>

      <div class="" v-if="notificationClicked">
        <div class="card-header font-weight-bolder d-flex justify-content-start">
          <div class="action-bar">
            <a href="#" @click="returnToList" class="d-inline">
              <i class="fas fa-arrow-left fa-2x mr-4"></i>
            </a>
          </div>
          Notifications
        </div>

        <div class="col-12 text-center mt-4">
          <h4>{{ notificationClicked.data.message }}</h4>
        </div>
        <div class="p-3">
          <div class="col-8 ml-auto">
            <p class="text-right"><small>{{ notificationClicked.created_at | time }}</small></p>
            <p class="text-right"><a :href="notificationClicked.data.url" class="text-primary"
                  v-text="'View transaction'"></a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" v-else>
      <p class="text-secondary">You have no notifications yet.</p>
    </div>
  </div>
</template>

<script>
import NotificationItem from "./NotificationItem";
import store from "../store";
import filters from "../pages/Mixins/filters";

export default {
  name: 'NotificationList',
  props: ['notifications'],
  data() {
    return {
      results: this.notifications,
      searchKeyword: '',
      notificationClicked: null,
    }
  },
  components: {NotificationItem},
  mixins: [ filters ],
  computed: {
    filteredList() {
      return this.results.filter(item => {
        return item.data.message.toLowerCase().includes(this.searchKeyword.toLowerCase())
      })
    }
  },
  methods: {
    searchNotification() {
      this.results = []

      this.notifications.forEach((notification) => {
        if (notification.data.toLowerCase().includes(this.searchKeyword.toLowerCase())) {
          this.results.push(notification)
        }
      })
    },
    showNotification(notification) {
      this.notificationClicked = notification
      $('.action-bar').addClass('d-none')
      this.markAsRead(notification)
    },
    returnToList() {
      this.notificationClicked = null
      $('.action-bar').removeClass('d-none')
      store.dispatch('getNotifications')
    },
    markAsRead(notification) {
      notification.read_at = ''
      console.log(notification)
      axios.delete('/notifications/' + notification.id)
    },
  }
}
</script>
